{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block body %}
<div class="container my-5">
    {% for i in obj %}
    <div class="bg-light p-4 rounded mb-2">
        <div class="row align-items-center">
            <div class="col-sm-4 text-center mb-4 mb-sm-0">
                <h3 class="mb-3">About {{ i.name }}</h3>
                <img class="rounded-circle img-fluid img-thumbnail shadow" style="height: 200px; width: 200px;" src="{{ i.image.url }}" alt="about ruhul">
            </div>
            <div class="col-sm-8">
                <p class="mb-3">{{ i.title }}</p>
                <p>
                    <a class="text-primary" data-bs-toggle="collapse" href="#demo{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="demo{{ forloop.counter }}">
                        Learn more...
                    </a>
                </p>
                <div class="collapse" id="demo{{ forloop.counter }}">
                    <p>{{ i.details }}</p>
                </div>
                <div class="d-flex justify-content-start gap-2 mt-3">
                    <a class="btn btn-outline-primary d-inline-flex align-items-center" href="https://www.facebook.com/Ruhulaminarafat82?mibextid=kFxxJD" target="_blank">
                        <i class="fab fa-facebook me-2"></i> Visit Facebook
                    </a>
                    <a class="btn btn-outline-primary d-inline-flex align-items-center" href="/media/resume/Md Ruhul Amin (Django Developer).pdf" download>
                        <i class="fas fa-download me-2"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Dynamic tab section -->
    <div class="card shadow-sm mb-4" style="border: 0;">
        <div class="card-header bg-primary">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#edu{{ forloop.counter }}">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#skill{{ forloop.counter }}">Skill</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#hobby{{ forloop.counter }}">Hobby</a>
                </li>
            </ul>
        </div>
        <div class="card-body bg-light">
            <div class="tab-content">
                <div class="tab-pane active" id="edu{{ forloop.counter }}">
                    <p>{{ i.education }}</p>
                </div>
                <div class="tab-pane fade" id="skill{{ forloop.counter }}">
                    <p>{{ i.skill }}</p>
                </div>
                <div class="tab-pane fade" id="hobby{{ forloop.counter }}">
                    <p>{{ i.hobby }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}
