{% extends 'basic.html' %}

{% block title %} Home Page  {% endblock %}

{% block body %}



          


<div class="bg-light pt-5">
    <div class="row pb-2">
        <div class="col-sm-4 justify-content-center pt-3">
            <h3 class="text-center ">About me</h3>
            <img style="height:200px;" class="rounded-circle img-fluid img-thumbnail d-block m-auto" src="/media/design/mehrin.jpg"">
        </div>
        <div class="col-sm-8 mt-5">


            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, modi!</p>
                <p class="d-inline-flex gap-1">
                    <a data-bs-toggle="collapse" href="#demo">Learn more...</a>                            
                </p>
                <div class="collapse" id="demo">                            
                  Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, voluptates? Sunt soluta at, corporis ea deserunt corrupti delectus minus ducimus commodi, adipisci quod rem quae ullam quas accusamus iste officiis?
                </div>
              
            
                
            <button class="btn btn-outline-primary d-block my-2">CV Download</button>
        </div>
    </div>

</div>
<!-- dynamic tab section -->
<div class="nav">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#edu">Educations</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#skill">Skill</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#hobby">Hobby</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="edu">
            <p>1.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore obcaecati excepturi rerum reprehenderit omnis modi maiores! Maxime voluptates quis id debitis dolores! Aut ad reiciendis, totam deserunt tempore quaerat aperiam, facere sequi inventore ea odit? Sapiente, omnis! Expedita perferendis quibusdam fugiat quas accusamus voluptas officiis id ut. Natus, nulla libero?</p>
        </div>
        <div class="tab-pane fade" id="skill">
            <p>2.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore obcaecati excepturi rerum reprehenderit omnis modi maiores! Maxime voluptates quis id debitis dolores! Aut ad reiciendis, totam deserunt tempore quaerat aperiam, facere sequi inventore ea odit? Sapiente, omnis! Expedita perferendis quibusdam fugiat quas accusamus voluptas officiis id ut. Natus, nulla libero?</p>
        </div>
        <div class="tab-pane fade" id="hobby">
            <p>3.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore obcaecati excepturi rerum reprehenderit omnis modi maiores! Maxime voluptates quis id debitis dolores! Aut ad reiciendis, totam deserunt tempore quaerat aperiam, facere sequi inventore ea odit? Sapiente, omnis! Expedita perferendis quibusdam fugiat quas accusamus voluptas officiis id ut. Natus, nulla libero?</p>
        </div>
    </div>
</div>



<!--card        sections-->

<div class="card-section">
    <div class="row">
        <div class="col-md-6 col-lg-3 my-sm-2">
            <div class="card">
                <img src="/media/design/mehrin.jpg"">
                <div class="card-body bg-light">
                    <h4 class="card-head">Ruhul Amin</h4>
                    <p class="card-text">I am ruhul amin. from naogaon district. study at jashore polytechnic institute</p>
                    <a class="card-link stretched-link" href="https://www.youtube.com" target="_blank">Click here</a>
                </div>
            </div>
        </div>
   
        <div class="col-md-6 col-lg-3 my-sm-2">
            <div class="card">
                <img src="/media/design/mehrin.jpg"">
                <div class="card-body bg-light">
                    <h4 class="card-head">Ruhul Amin</h4>
                    <p class="card-text">I am ruhul amin. from naogaon district. study at jashore polytechnic institute</p>
                    <a class="card-link stretched-link" href="https://www.youtube.com" target="_blank">Click here</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 my-sm-2">
            <div class="card">
                <img src="/media/design/mehrin.jpg"">
                <div class="card-body bg-light">
                    <h4 class="card-head">Ruhul Amin</h4>
                    <p class="card-text">I am ruhul amin. from naogaon district. study at jashore polytechnic institute</p>
                    <a class="card-link stretched-link" href="https://www.youtube.com" target="_blank">Click here</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 my-sm-2">
            <div class="card">
                <img src="/media/design/mehrin.jpg">
                <div class="card-body bg-light">
                    <h4 class="card-head">Ruhul Amin</h4>
                    <p class="card-text">I am ruhul amin. from naogaon district. study at jashore polytechnic institute</p>
                    <a class="card-link stretched-link" href="https://www.youtube.com" target="_blank">Click here</a>
                </div>
            </div>
        </div>
        
        
        
    </div>
    

</div>

<!--media             sections-->

<div class="media-sections mt-4">
    <div class="title text-center pb-1">
        <h3>My Blogs</h3>
    </div>
    <div class="media border bg-light">
        <div class="row py-3">
            <div class="col-md-2">
                <img style="width: 80px;" class="img-fluid rounded-circle d-block m-auto" src="/media/design/mehrin.jpg">
            </div>
            <div class="col-md-10">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit debitis cumque, nam maxime recusandae fugit sint deserunt odit dolores aspernatur, voluptatum soluta adipisci laborum distinctio voluptate natus ratione! Sequi nihil, ipsam fuga libero facere deserunt incidunt eos aspernatur expedita laudantium vitae culpa? Libero facere suscipit ipsum corrupti soluta id dolores.</p>
            </div>
        </div>
    </div>
     <div class="media border bg-light mt-2">
        <div class="row py-3">
            
            <div class="col-md-10">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit debitis cumque, nam maxime recusandae fugit sint deserunt odit dolores aspernatur, voluptatum soluta adipisci laborum distinctio voluptate natus ratione! Sequi nihil, ipsam fuga libero facere deserunt incidunt eos aspernatur expedita laudantium vitae culpa? Libero facere suscipit ipsum corrupti soluta id dolores.</p>
            </div>
            <div class="col-md-2">
                <img style="width: 80px;" class="img-fluid rounded-circle d-block m-auto" src="/media/design/mehrin.jpg"">
            </div>
        </div>
    </div>
</div>


<!-- table         section-->


<!--Customer reviews section-->
<div class="customer-review bg-light pt-3 mt-5">
    <div class="title text-center pb-1">
        <h3>Customer reviews</h3>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <blockquote>
                <i class="fas fa-3x p-2 fa-user-circle"></i>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet cumque minima distinctio nesciunt! Aliquid eius, in this web site we can learn <abbr title="Bootstrap5">Bs5</abbr></p>
                <footer class="blockquote-footer">
                    Ruhul amin in <cite>Youtube</cite>
                </footer>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote>
                <i class="fas fa-3x p-2 fa-user-circle"></i>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet cumque minima distinctio nesciunt! Aliquid eius, in this web site we can learn <abbr title="Bootstrap5">Bs5</abbr></p>
                <footer class="blockquote-footer">
                    Ruhul amin in <cite>Youtube</cite>
                </footer>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote>
                <i class="fas fa-3x p-2 fa-user-circle"></i>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet cumque minima distinctio nesciunt! Aliquid eius, in this web site we can learn <abbr title="Bootstrap5">Bs5</abbr></p>
                <footer class="blockquote-footer">
                    Ruhul amin in <cite>Youtube</cite>
                </footer>
            </blockquote>
        </div>
    </div>

    
</div>
</main>



{% endblock %}