
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="/media/icon/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="icon" href="/media/design/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <title>{% block title %}  {% endblock title %}</title>


</head>
<body>

<div class="container my-5 p-3" style="background-color: antiquewhite;">
    <div class="btn btn-info mt-3">
        <a class="btn btn-close" href="{% url 'task_view' user.username %}"></a>
    </div>
<h3 class="text-center my-5">{{ user.username }}'s <br> Success Days</h3>

<table class="table my-4 table-bordered table-hover table-light">
    <thead class="table-primary text-center">
        <tr>
            <th>Total Task</th>
            <th>Finished Task</th>
            <th>Percentage Score</th>
  
        </tr>
    </thead>
    <tbody class="text-center">

            <td><strong>{{ total_objects }}</strong> </td>
            <td><strong>{{ total_done_count }}</strong> </td>
            <td><strong>{{ percentage_score|floatformat:2 }}%</strong> </td>
            <!-- Remove the Total Percentage Score row -->
        </tr>
    </tbody>
</table>

<div class="my-5">
    {% if percentage_score >= 60 %}
    <h4 class="text-center">Congratulations & You passed | Score: {{ percentage_score|floatformat:2 }}%</h4>
{% else %}
    <h4 class="text-center">Unfortunately & You Failed | Score: {{ percentage_score|floatformat:2 }}%</h4>
{% endif %}
</div>

</body>

            
      
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        </body>
</html>