
{% extends 'base.html' %}
{% block title %} Add Task Page {% endblock %}
{% block body %}
<div class="container my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Add Your Task</h5>
                    <div class="container">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="work_time" class="form-label">Task Time:</label>
                                <input type="time" class="form-control" id="work_time" name="work_time">
                            </div>
                
                            <div class="mb-3">
                                <label for="work_name" class="form-label">Task Name:</label>
                                <input type="text" class="form-control" id="work_name" name="work_name">
                            </div>
                            <button type="submit" class="btn btn-primary">Add Task</button>
                            
                        </form>
                    </div>
                       
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
