{% extends 'base.html' %}
{% load static %}
{% load notifications_tags %}
{% block body %}

    <div class="container mt-5">
        <div id="bottom" class="overflow-auto" style="max-height: 350px; margin-top:10px; margin-bottom:10px;">
            <div>
                {% notifications_unread as unread_count %}
                {% if unread_count %}
                    <h3 class="text-center">
                        You have all <b style="color:black">{{ unread_count }}</b> notifications
                    </h3>
                    {% live_notify_list list_class="dropdown-menu" %}
                    {{ live_notify_list|safe }}
                {% else %}
                    <h3 class="text-center">You have no unread notifications</h3>
                {% endif %}
            </div>
        </div>
        <ul class="list-group">
            {% for i in user.notifications.unread %}
           
               
                <li class="list-group-item bg-light"> 
                            {{ i|safe }}                    
                </li>
            {% endfor %}            
        </ul>
    </div>

{% endblock body%}
